{% extends 'master.html' %}

{% block title %}
UserRegistration
{% endblock %}

{% load static %}
{% block css %}
<link href="{% static 'css/admin.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="main">
        <div class="login-header">
            <h1 align="center">User Login</h1>
            <hr>
        </div>
        <div class="register">

            <form action="user_test" method="POST">
                {% csrf_token %}
                <h3>Enter Username</h3>
                <input type="text" size="70" name="uname">
                <h3>Enter Valid Email Address</h3>
                <input type="email" size="70" name="email">
                <h3>Enter Username</h3>
                <h3><input type="radio" name="mygender" id="male" value="male">
                <label for="male"> Male</label></h3>
                <h3><input type="radio" name="mygender" id="female" value="female">
               <label for="female"> Female</label></h3>
                <h3>Enter Mobile Number</h3>
                <input type="text" size="70" name="contact">
                <h3>Enter Password</h3>
                <input type="password" size="70" name="password">
                <input type="submit" id="btn1" name="submit" value="Register">
                <input type="reset" name="reset" value="Clear All" id="btn2"><br/><br/>

                <a href="user" class="mam">ALREADY REGISTERED?</a>

            </form>
        </div>
    </div>
{% endblock %}